@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap%27');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 18px;
}
body{
  background-color: #f5f5f5;
}

.App{
  min-height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.header{
  display: flex;
  align-items: center;
  height: 4rem;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0.1rem 0.1rem rgb(0, 128, 128);
}

.logo{
  align-items: stretch;
}

.logo img{
  height: 3rem;
  object-fit: cover;
}

.navbar {
  display: flex;
}

.nav_list {
  display: flex;
  justify-content: center;
  min-height: 4rem;
  gap: 2rem;
}

.nav_list li{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.nav_list li::before{
  content:"";
}

.nav_list li::after{
  content: "";
  transform: scaleX(0);
  height: 5px;
  border-radius: 3px;
}

.nav_list li:hover{
  cursor: pointer;
}

.nav_list li:hover::after {
  transform: scaleX(1);
  transition: transform 400ms ease-out;
  background: linear-gradient(to left, #98DE5B, #08E1AE 74%);

}

.navbar a{
  text-decoration: none;
  color: inherit;
}

.navbar a.active{
  color: #00e4c7;
  font-weight: bold;
}

.buttons{
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.button {
  padding: 0.6rem 2rem;
  border: none;
  border-radius: 2.5rem;
  background-repeat: no-repeat;
  background-clip: padding-box;
  color: #000;
  background-image: linear-gradient(to left, #98DE5B, #08E1AE 74%);
  transition: transform 300ms;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 300ms;
}

.hero_section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  text-align: center;
  padding: 0 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
  padding: 1rem 1rem;
  gap: 0.5rem;
  background-color: white;
  transition: 250ms ease-out;
}

.product_image {
  height: 9rem;
  width: 9rem;
  object-fit: contain;
}

.product:hover{
  cursor: pointer;
  box-shadow: 0 0 0.2rem #00e4c7;
  transform: scale(1.012);
  transition: 250ms ease-out;
}

.product_title{
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 1.4rem;
  font-weight: 550;
  align-self: stretch;
  min-width: 0;
}

.product_category {
  font-size: 0.8rem;
}

.price {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  color: #e1ad01;
  font-weight: bold;
}

.dollar {
  font-size: 1.5rem;
}

.rating{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.fa-star{
  color: rgb(255, 191, 0);
}

.fa-user{
  color: darkblue;
}

.cart_button{
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 1rem;
  transition: transform 300ms ease-out;
}

.cart_button:hover{
  transform: scale(1.03);
  transition: 300ms ease-out;
  cursor: pointer;
  background-color: #e1ad01;
}

.card_end{
  display: flex;
  align-self: stretch;
  justify-content: space-between;
  align-items: center;
}

.product_main{
  display: flex;
  padding: 1rem;
  justify-content: center;
}

.product_details{
  align-self: center;
  display: flex;
  gap: 5rem;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

.des_img{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.des_img img{
  width : 15rem;
  height: auto;
}

.price_div{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cart_button_big{
  padding: 1rem 0;
  border-radius: 2rem;
  background-color: #e1ad01;
}

.description_div{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.description{
  width: 24rem;
}

.cart{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.cart_item{
  display: flex;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  align-items: center;
}

.cart_img {
  width: 5rem;
}

.cart_item .des {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
}

.cart_item .price, .cart_item .dollar{
  font-size: 1.2rem;
}

.buy{
  align-self: center;
  border-radius: 1rem;
}

.add_more{
  display: flex;
  gap : 1rem;
  align-items: center;
}

.btn{
  padding: 0.8rem 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.remove_btn {
  background-color: red;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
  align-self: flex-start;
}

footer{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  background: white;
  box-shadow: 0 -0.1rem 0.1rem rgb(0, 128, 128);
}

.copyright{
  font-size: 0.8rem;
}

.error{
  display: flex;
  align-items: center;
  gap: 1rem;
  align-self: center;
  flex-direction: column;
}

.remove_item{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.yes_btn{
  background-color: red;
  color: white
}

.yes_btn, .no_btn{
  padding: 0.3rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
}

.yes_btn:hover, .no_btn:hover{
  transform: scale(1.1);
  transition: 300ms ease-out;
}

/* Loader */
.lds-roller {
  align-self: center;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 800px){

  .header .buttons{
      display: none;
  }

  .footer{
      flex-direction:column;
      justify-content: space-around;
      height: auto;
      gap: 1rem;
  }
  .footer .navbar ul{
      flex-direction: column;
      gap: 1rem;
  }

  .product_details{
    flex-direction: column;
    align-items: center;
  }

  .des_img img{
    width: 10rem;
  }
}

@media (max-width: 380px) {

  .header .navbar .nav_list{
    display: none; 
  }

  .hero_section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    text-align: center;
    padding: 0 1rem;
  }

  .description{
    width: auto;
    min-width: 0;
  }
}